.main_nav{
    background-color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0px;
}